############
# Instance 
############

INSTANCE_ID=modelo

# updated_at 2025.07.12
STUDIO_IMAGE=supabase/studio:2025.06.30-sha-6f5982d
KONG_IMAGE=kong:2.8.1
GOTRUE_IMAGE=supabase/gotrue:v2.176.1
POSTGREST_IMAGE=postgrest/postgrest:v12.2.12
REALTIME_IMAGE=supabase/realtime:v2.34.47
STORAGE_IMAGE=supabase/storage-api:v1.22.7
IMGPROXY_IMAGE=darthsim/imgproxy:v3.8.0
META_IMAGE=supabase/postgres-meta:v0.89.3
FUNCTIONS_IMAGE=supabase/edge-runtime:v1.67.4
LOGFLARE_IMAGE=supabase/logflare:1.14.2
DB_IMAGE=supabase/postgres:15.8.1.060
VECTOR_IMAGE=timberio/vector:0.28.1-alpine
SUPAVISOR_IMAGE=supabase/supavisor:2.5.6

############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

POSTGRES_PASSWORD=your-super-secret-and-long-postgres-password
JWT_SECRET=your-super-secret-jwt-token-with-at-least-32-characters-long
ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE
SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJzZXJ2aWNlX3JvbGUiLAogICAgImlzcyI6ICJzdXBhYmFzZS1kZW1vIiwKICAgICJpYXQiOiAxNjQxNzY5MjAwLAogICAgImV4cCI6IDE3OTk1MzU2MDAKfQ.DaYlNEoUrrEn2Ig7tqibS-PHK5vgusbcbo7X36XVt4Q
DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=this_password_is_insecure_and_should_be_updated
SECRET_KEY_BASE=UpNVntn3cDxHJpq99YMc1T1AQgQpc8kfYTuRgBiYa15BLrx8etQoXz3gZv1/u2oq
VAULT_ENC_KEY=your-encryption-key-32-chars-min


############
# Database - You can change these to any PostgreSQL database that has logical replication enabled.
############

POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432
# default user is postgres


############
# Supavisor -- Database pooler
############
# Port Supavisor listens on for transaction pooling connections
POOLER_PROXY_PORT_TRANSACTION=6543
# Maximum number of PostgreSQL connections Supavisor opens per pool
POOLER_DEFAULT_POOL_SIZE=20
# Maximum number of client connections Supavisor accepts per pool
POOLER_MAX_CLIENT_CONN=100
# Unique tenant identifier
POOLER_TENANT_ID=your-tenant-id
# Pool size for internal metadata storage used by Supavisor
# This is separate from client connections and used only by Supavisor itself
POOLER_DB_POOL_SIZE=5

############
# Storage -- Minio
############
GLOBAL_S3_BUCKET=
GLOBAL_S3_ENDPOINT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=


############
# API Proxy - Configuration for the Kong Reverse proxy.
############

KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443
ANALYTICS_PORT=4000

############
# API - Configuration for PostgREST.
############

PGRST_DB_SCHEMAS=public,storage,graphql_public


############
# Auth - Configuration for the GoTrue authentication server.
############

## General
SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
API_EXTERNAL_URL=http://localhost:8000
SUPABASE_URL=http://localhost:8000
## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

## Email auth
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=supabase-mail
SMTP_PORT=2500
SMTP_USER=fake_mail_user
SMTP_PASS=fake_mail_password
SMTP_SENDER_NAME=fake_sender
SMTP_SENDER=
SMTP_AUTH_METHOD=LOGIN
GOTRUE_SMTP_MAX_FREQUENCY=60
GOTRUE_RATE_LIMIT_EMAIL_SENT=1
GOTRUE_RATE_LIMIT_EMAIL_SENT=1
ENABLE_ANONYMOUS_USERS=false

## Phone auth
ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true


############
# Studio - Configuration for the Dashboard
############

STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project

STUDIO_PORT=3000
# replace if you intend to use Studio outside of localhost
SUPABASE_PUBLIC_URL=http://localhost:8000

# Enable webp support
IMGPROXY_ENABLE_WEBP_DETECTION=true

# Add your OpenAI API key to enable SQL Editor Assistant
OPENAI_API_KEY=


############
# Functions - Configuration for Functions
############
# NOTE: VERIFY_JWT applies to all functions. Per-function VERIFY_JWT is not supported yet.
FUNCTIONS_VERIFY_JWT=false


############
# Logs - Configuration for Analytics
# Please refer to https://supabase.com/docs/reference/self-hosting-analytics/introduction
############

# Change vector.toml sinks to reflect this change
# these cannot be the same value
LOGFLARE_PUBLIC_ACCESS_TOKEN=your-super-secret-and-long-logflare-key-public
LOGFLARE_PRIVATE_ACCESS_TOKEN=your-super-secret-and-long-logflare-key-private

# Docker socket location - this value will differ depending on your OS
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

# Google Cloud Project details
GOOGLE_PROJECT_ID=GOOGLE_PROJECT_ID
GOOGLE_PROJECT_NUMBER=GOOGLE_PROJECT_NUMBER

############
# Emails
############
MAILER_TEMPLATES_INVITE="https://api-dev-modelo.kabran.com.br/storage/v1/object/public/emails//modelo_invite.html"
MAILER_TEMPLATES_CONFIRMATION="https://api-dev-modelo.kabran.com.br/storage/v1/object/public/emails//modelo_confirm.html"
MAILER_TEMPLATES_RECOVERY="https://api-dev-modelo.kabran.com.br/storage/v1/object/public/emails//modelo_recovery.html"
MAILER_TEMPLATES_MAGIC_LINK="https://api-dev-modelo.kabran.com.br/storage/v1/object/public/emails//modelo_magic_link.html"
MAILER_TEMPLATES_EMAIL_CHANGE="https://api-dev-modelo.kabran.com.br/storage/v1/object/public/emails//modelo_change.html"

MAILER_SUBJECTS_INVITE="Você Foi Convidado! - Modelo"
MAILER_SUBJECTS_CONFIRMATION="Confirme seu cadastro na Modelo"
MAILER_SUBJECTS_RECOVERY="Crie uma nova senha na Modelo"
MAILER_SUBJECTS_MAGIC_LINK="Seu Link de Acesso - Modelo"
MAILER_SUBJECTS_EMAIL_CHANGE="Alerta de Mudança de E-mail - Modelo"

############
# Google Oauth
############
GOTRUE_EXTERNAL_GOOGLE_ENABLED=true
GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID=
GOTRUE_EXTERNAL_GOOGLE_SECRET=
GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI=https://api-modelo.kabran.com.br/auth/v1/callback


############
# Integrações - Edge Functions
############
RECAPTCHA_SECRET_KEY=
ENCRYPTION_SECRET="Y5M9qvTgdGNyl8/Bv+i1BRX0so4aGgYCme/aTF4znLg2tZ+rmiyS3mMtiYa45tE/CXS3LeN4N/TWXDp1sraH/Q=="



############
# Configurações de Força de Senha
############
GOTRUE_PASSWORD_MIN_LENGTH=8
GOTRUE_PASSWORD_REQUIRED_CHARACTERS=abcdefghijklmnopqrstuvwxyz:ABCDEFGHIJKLMNOPQRSTUVWXYZ:0123456789

############
# Twilio Verify Configuration
############
GOTRUE_SMS_PROVIDER=twilio_verify
GOTRUE_SMS_TWILIO_VERIFY_ACCOUNT_SID=
GOTRUE_SMS_TWILIO_VERIFY_AUTH_TOKEN=
GOTRUE_SMS_TWILIO_VERIFY_MESSAGE_SERVICE_SID=

